.main-window {
    // background-color: $gr;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;
}

.car-on-ter {
    background-color: $blk;
    opacity: .9;
    margin: 10px;
    display: flex;
    flex-direction: row;
    // width: 100%;
    padding: 5px;
    z-index: 0;

    .first_col,
    .second_col,
    .fird_col,
    .fourth_col,
    .fiveth_col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        // padding: 5px;

        label {
            color: $wht;
        }

        input {
            padding: 5px;
            // width: 97%;
            margin: 5px;
        }

        .car-date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            input {
                padding: 5px;
                // width: 46%;
                // margin-right: 5px;


            }
        }
    }
}