.main-window {
    // background-color: $gr;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;

    .main-window-header {
        padding: 0 auto;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .title-header,.now-date {
            font-size: 20px;
            font-weight: 600;
            color: rgba(51, 51, 51, .9);
        }
        .now-date {
            margin-left: 7px;
        }
    }
}

.car-on-ter-wraper {
    background-color: $blk;
    opacity: .9;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px $blk;

    .prop-info {
        color: $prim;
    }

    .prop-info {
        margin-top: 5px;
    }

    .car-on-ter {
        background-color: $blk;
        opacity: .9;
        margin: 0 3px 3px 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 3px 3px 3px;
        z-index: 0;

        .margin_top7 {
            margin-top: 7px;
        }

        .first_col,
        .second_col,
        .fird_col,
        .fourth_col,
        .fiveth_col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20%;
            // margin-right: 8px;
            padding: 2px;

            label {
                color: $wht;
            }
           

            input {
                box-sizing: border-box;
                height: 30px;
                text-align: center;
                &:focus{
                    outline: 2px solid $prim;
                }
            }

            .car-date {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // width: 100%;

                div:first-child {
                    margin-right: 4px;
                }

                input {
                    padding: 5px;             
                }
            }
        }
    }
    .btns_docs {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .btn_blocks{
            margin-right: 6px;
            margin-bottom: 5px;
            border: 2px solid $prim;
            border-radius: 14px;
            padding: 2px 17px 2px 17px;
            cursor: pointer;
            transition: .2s;
            color: $prim;

            &:hover {
                color: #e908f1;
                border: 2px solid #e908f1;
            }

            &:active {
                transform: translateY(-2px);
                // color: #e908f1;
                // border: 2px solid #e908f1;
            }
        }
    }
}