.post {
    display: flex;
    flex-direction: column;
    //border: 1px solid $gr;
    margin-bottom: $freeSp;
    padding: $freeSp;
    background-color: $wht;

    .top {
        h2 {
            background-color: rgb(252, 250, 250);
            margin-top: 0;
        }
    }
    .body {
        p{
            text-align: justify;
        }
    }

    .bottom {
        font-size: .9em;
        display: flex;
        justify-content: space-between;
        a{
            color: $prim;
            text-decoration-color: $prim;
        }
    }
}