<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #admin-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        input {
            margin-top: 10px;
        }

        button {
            margin-top: 10px;

        }
    </style>
    <title>Admin</title>
</head>

<body>
    <form id="admin-form" method="post">
        <input type="text" placeholder="login" id="login">
        <input type="text" placeholder="password" id="pass">
        <button type="submit" id="btn-send">Send</button>
    </form>
    <script src="scripts/jQuery/jquery-3.3.1.min.js"></script>
    <script src="<%= assetFingerprint('scripts/admin.js') %>"></script>
</body>

</html>