<% include layout/header.ejs %>

<div class="main">
    <% include layout/ticket.ejs %>
    <div class="container">
        <div class="content">
            <% include layout/post.ejs %>


        </div>



    </div>
</div>

</div>
</div>
<% include layout/footer.ejs %>