.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    //background-color: lightblue;
    .container {
        .content{
            flex: 3;
            margin-right: $freeSp;
            margin-bottom: $freeSp;
            min-height: 100px;
        }

        .sidebar {
            position: relative;
            display: flex;
            flex: 1;
            flex-direction: column;
        
            .box {
                margin-bottom: $freeSp;
                width: 100%;
                min-height: 100px;
                padding: $freeSp;
                border: 1px solid $gr; 
                background-color: $wht;           
             
                h2 {
                    margin-top: 0;
                }
            }


        }
    }

}