.footer {
    display: flex;
    flex-direction: column;
    height: $nomHeight;
    border-top: 1px solid $gr;
    background-color: $blk;

    .container {
        height: 100%;
        line-height: $nomHeight;
    }
}