.footer {
    display: flex;
    flex-direction: column;
    height: $nomHeight;
    border-top: 1px solid $gr;
    background-color: $blk;

    .container {
        line-height: $nomHeight;
        .user-info {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            color: $wht;
        }
    }
}