.container {
  align-self: center;
  align-items: center;
  display: flex;
  min-height: inherit;
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
  .container {
    min-height: 100%;
    width: 1150px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column;
        
      } 
    .sidebar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .box {
        margin-right: $freeSp;
      }
    }
   }



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container{
    flex-direction: column-reverse;
    width: 100%;
    }
    .sidebar {
      flex-direction: row;
    }
  }
