@import "reset","const","grid","typography", "forms";


html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    flex: auto;
    color: $blk;
    background-color: lighten($gr, 7);
    padding-top: $nomHeight + $freeSp;
}

@import "header", "content", "foot", "components/post", "components/login", "components/mainWindow";