* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

textarea,
input,
button {
  outline: none; }

.container {
  align-self: center;
  align-items: center;
  display: flex;
  min-height: inherit; }

@media (min-width: 1920px) {
  .container {
    min-height: 100%;
    width: 1750px; }
    .container .new__user {
      width: 720px; } }

@media (min-width: 1441px) and (max-width: 1919px) {
  .container {
    min-height: 100%;
    width: 1350px; }
    .container .new__user {
      width: 720px; } }

@media (min-width: 1150px) and (max-width: 1440px) {
  .container {
    min-height: 100%;
    width: 1100px; }
    .container .new__user {
      width: 720px; } }

@media (min-width: 992px) and (max-width: 1149px) {
  .container {
    min-height: 100%;
    width: 900px; }
    .container .new__user {
      width: 720px; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column; }
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .sidebar .box {
      margin-right: 15px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    width: 100%; }
  .sidebar {
    flex-direction: row; } }

html {
  font-size: .875em; }

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small,
.font_small {
  font-size: 0.8em; }

div.succes, div.error, p.succes, p.error {
  background-color: #dcfce6;
  border: 1px solid #23e95f;
  font-size: .8em;
  padding: 7.5px;
  color: #23e95f;
  border-radius: 3px; }

div.error, p.error {
  color: #eb5656;
  border-color: #eb5656;
  background-color: #fbdfdf; }

.sign-in {
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 4px; }

form {
  display: flex;
  flex-direction: column; }
  form h2 {
    text-align: center;
    margin: 0 0 10px 0; }
  form .form-group {
    margin-bottom: 15px; }
    form .form-group label {
      font-size: 0.9em; }

input,
textarea {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  display: table;
  border-collapse: separate;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 14px; }
  input:disabled,
  textarea:disabled {
    background-color: #e8e8e8; }
  input:hover,
  textarea:hover {
    box-shadow: 0; }
  input:focus,
  textarea:focus {
    border-color: #c8eefd; }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.8;
    font-style: italic; }

input {
  height: 36px;
  padding-left: 10px;
  padding-right: 10px; }

textarea {
  padding: 8px 10px;
  min-height: 80px; }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

button,
.button {
  font-size: 14px;
  cursor: pointer;
  height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center; }
  button:active,
  .button:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2); }
  button:hover,
  .button:hover {
    text-decoration: none; }

.login-button {
  transition: .3s;
  border-radius: 2px;
  background-color: #08aef1;
  color: #fff;
  border: 1px solid #08aef1;
  width: 100%;
  justify-content: center; }
  .login-button:hover {
    color: #08aef1;
    background-color: #fff; }

html {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: #333;
  background-color: #fafafa;
  padding-top: 64px; }

input {
  min-width: 0; }

.header {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 49px;
  opacity: .9;
  z-index: 999; }
  .header .container {
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 15px 0 15px; }
    .header .container .date-time {
      left: 20px;
      position: absolute; }
      .header .container .date-time #clock,
      .header .container .date-time #week {
        margin-right: 15px;
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        font-size: 1.3em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
        .header .container .date-time #clock:hover,
        .header .container .date-time #week:hover {
          color: #08aef1; }
      .header .container .date-time #clock {
        font-style: bold; }
    .header .container .color-change {
      color: #08aef1 !important; }
    .header .container .date-time {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .header .container .menu {
      display: flex;
      list-style: none;
      height: 100%;
      align-items: center;
      justify-content: flex-end; }
      .header .container .menu #svg-icon {
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.3em;
        transition: .7s;
        margin-right: 5px; }
      .header .container .menu #menu-button {
        color: #fff;
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none; }
        .header .container .menu #menu-button:hover {
          color: #08aef1; }
      .header .container .menu .menu-head {
        margin-right: 10px;
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        font-size: 1.3em; }
        .header .container .menu .menu-head:hover {
          color: #08aef1; }
        .header .container .menu .menu-head:active {
          transform: translateY(2px);
          text-shadow: 0 0 8px #fff !important; }
      .header .container .menu .menu-list {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        overflow: hidden;
        width: 0px;
        transition: all 0.4s cubic-bezier(0.14, 0.04, 0.76, 1.15); }

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .main .container .content {
    flex: 3;
    margin-right: 15px;
    margin-bottom: 15px;
    min-height: 100px; }
  .main .container .sidebar {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column; }
    .main .container .sidebar .box {
      margin-bottom: 15px;
      width: 100%;
      min-height: 100px;
      padding: 15px;
      border: 1px solid #e8e8e8;
      background-color: #fff; }
      .main .container .sidebar .box h2 {
        margin-top: 0; }

.footer {
  display: flex;
  flex-direction: column;
  height: 49px;
  border-top: 1px solid #e8e8e8;
  background-color: #333; }
  .footer .container {
    height: 100%;
    line-height: 49px; }
    .footer .container .user-info {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      color: #fff; }

.new__user {
  right: -680px;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 45px;
  background-color: #333;
  opacity: .9;
  color: #fff;
  border-radius: 4px;
  transition: .4s ease-in-out;
  z-index: 2; }
  .new__user label {
    margin: 5px; }
  .new__user input {
    min-width: 220px;
    margin-right: 10px;
    border: 4px solid #333;
    opacity: .9;
    background-color: #e8e8e8; }
    .new__user input[name='number-avto'] {
      text-transform: uppercase; }
      .new__user input[name='number-avto']::placeholder {
        text-transform: capitalize; }
    .new__user input:last-child {
      margin-right: 0; }
  .new__user .user-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px; }
  .new__user .user-car-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px; }
  .new__user #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .new__user #buttons #send {
      margin-right: 4px;
      border: 2px solid #fff;
      border-radius: 14px;
      padding: 5px 27px 5px 27px;
      cursor: pointer;
      transition: .2s; }
      .new__user #buttons #send:hover {
        color: #08aef1;
        border: 2px solid #08aef1; }
      .new__user #buttons #send:active {
        transform: translateY(-2px);
        text-shadow: 0 0 8px #fff !important; }
    .new__user #buttons #reset {
      margin-right: 4px;
      border: 2px solid #fff;
      border-radius: 14px;
      padding: 5px 27px 5px 27px;
      cursor: pointer;
      transition: .2s; }
      .new__user #buttons #reset:hover {
        color: #e908f1;
        border: 2px solid #e908f1; }
      .new__user #buttons #reset:active {
        transform: translateY(-2px);
        text-shadow: 0 0 8px #fff !important; }

.image__propusk {
  position: absolute;
  left: 7px;
  top: 40px;
  font-size: 22px;
  cursor: pointer;
  color: #08aef1;
  transition: .8s; }
  .image__propusk:hover {
    color: #e908f1; }

.image__propusk__rotate {
  transition: .8s;
  transform: rotateY(180grad); }

.label__propusk {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  font-size: 16px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #08aef1;
  position: absolute;
  left: 17px;
  top: 44px;
  width: 16px;
  cursor: pointer;
  transition: .4s; }

.btn__prop {
  position: absolute;
  left: -30px;
  top: 75px;
  z-index: -1;
  width: 80px;
  height: 100px;
  border-radius: 50% 0 0 50%;
  overflow: hidden;
  background-color: #333;
  cursor: pointer; }

.slide-propusk {
  transition: all .4s ease-in-out;
  right: 10px; }

.wraper {
  display: grid;
  grid-template-columns: 3fr 1fr; }
  .wraper .email-window {
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 4px; }
    .wraper .email-window .email-message {
      background-color: #e8e8e8;
      border: 1px solid #a8a8a8;
      border-radius: 3px;
      padding: 7px;
      margin-bottom: 7.5px; }
      .wraper .email-window .email-message:last-child {
        margin-bottom: 0; }
  .wraper select {
    background-color: #333;
    color: #08aef1;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: none;
    text-align: center; }
    .wraper select:focus {
      outline: none; }

.hello {
  display: none; }

.abs {
  text-align: center; }

.input-error {
  border: 1px solid #f53a3a;
  background-color: lightin(#f53a3a, 30); }

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1; }
  .login-main #admin-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center; }
  .login-main .login-page {
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-main .login-page .login {
      width: 25%; }

.main-window {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out; }

.car-on-ter {
  background-color: #333;
  opacity: .9;
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  z-index: 0; }
  .car-on-ter .first_col,
  .car-on-ter .second_col,
  .car-on-ter .fird_col,
  .car-on-ter .fourth_col,
  .car-on-ter .fiveth_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%; }
    .car-on-ter .first_col label,
    .car-on-ter .second_col label,
    .car-on-ter .fird_col label,
    .car-on-ter .fourth_col label,
    .car-on-ter .fiveth_col label {
      color: #fff; }
    .car-on-ter .first_col input,
    .car-on-ter .second_col input,
    .car-on-ter .fird_col input,
    .car-on-ter .fourth_col input,
    .car-on-ter .fiveth_col input {
      padding: 5px;
      margin: 5px; }
    .car-on-ter .first_col .car-date,
    .car-on-ter .second_col .car-date,
    .car-on-ter .fird_col .car-date,
    .car-on-ter .fourth_col .car-date,
    .car-on-ter .fiveth_col .car-date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
      .car-on-ter .first_col .car-date input,
      .car-on-ter .second_col .car-date input,
      .car-on-ter .fird_col .car-date input,
      .car-on-ter .fourth_col .car-date input,
      .car-on-ter .fiveth_col .car-date input {
        padding: 5px; }
