* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

textarea, input, button {
  outline: none; }

.container {
  align-self: center;
  align-items: center;
  display: flex;
  min-height: 100%; }

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
  .container {
    min-height: 100%;
    width: 1150px; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column; }
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .sidebar .box {
      margin-right: 15px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    width: 100%; }
  .sidebar {
    flex-direction: row; } }

html {
  font-size: .875em; }

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small,
.font_small {
  font-size: 0.8em; }

.sign-in {
  border: 1px solid #e8e8e8;
  padding: 15px;
  border-radius: 4px; }

form {
  display: flex;
  flex-direction: column; }
  form h2 {
    text-align: center;
    margin: 0 0 10px 0; }
  form .form-group {
    margin-bottom: 15px; }
    form .form-group label {
      font-size: 0.9em; }

input,
textarea {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  display: table;
  border-collapse: separate;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 14px; }
  input:disabled,
  textarea:disabled {
    background-color: #e8e8e8; }
  input:hover,
  textarea:hover {
    box-shadow: 0; }
  input:focus,
  textarea:focus {
    border-color: #c8eefd; }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.8;
    font-style: italic; }

input {
  height: 36px;
  padding-left: 10px;
  padding-right: 10px; }

textarea {
  padding: 8px 10px;
  min-height: 80px; }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

button,
.button {
  font-size: 14px;
  cursor: pointer;
  height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center; }
  button:active,
  .button:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2); }
  button:hover,
  .button:hover {
    text-decoration: none; }

.login-button {
  transition: .3s;
  border-radius: 2px;
  background-color: #08aef1;
  color: #fff;
  border: 1px solid #08aef1;
  width: 100%;
  justify-content: center; }
  .login-button:hover {
    color: #08aef1;
    background-color: #fff; }

html {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: #333;
  background-color: #fafafa;
  padding-top: 64px; }

.header {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 49px;
  opacity: .9;
  z-index: 999; }
  .header .container {
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 15px 0 15px; }
    .header .container #clock, .header .container #week {
      margin-right: 15px;
      color: #fff;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-decoration: none;
      font-size: 1.3em;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
      .header .container #clock:hover, .header .container #week:hover {
        color: #08aef1; }
    .header .container #clock {
      font-style: bold; }
    .header .container .date-time {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .header .container .menu {
      display: flex;
      list-style: none;
      height: 100%;
      width: 60%;
      align-items: center;
      justify-content: flex-end; }
      .header .container .menu #svg-icon {
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.3em;
        transition: .7s;
        margin-right: 5px; }
      .header .container .menu #menu-button {
        color: #fff;
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none; }
        .header .container .menu #menu-button:hover {
          color: #08aef1; }
      .header .container .menu .menu-head {
        margin-right: 10px;
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        font-size: 1.3em;
        transition: .2s; }
        .header .container .menu .menu-head:hover {
          color: #08aef1; }
        .header .container .menu .menu-head:active {
          transform: translateY(2px);
          text-shadow: 0 0 8px #fff !important; }
      .header .container .menu .menu-list {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        overflow: hidden;
        width: 0px; }

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .main .container .content {
    flex: 3;
    margin-right: 15px;
    margin-bottom: 15px;
    min-height: 100px; }
  .main .container .sidebar {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column; }
    .main .container .sidebar .box {
      margin-bottom: 15px;
      width: 100%;
      min-height: 100px;
      padding: 15px;
      border: 1px solid #e8e8e8;
      background-color: #fff; }
      .main .container .sidebar .box h2 {
        margin-top: 0; }

.footer {
  display: flex;
  flex-direction: column;
  height: 49px;
  border-top: 1px solid #e8e8e8;
  background-color: #333; }
  .footer .container {
    height: 100%;
    line-height: 49px; }

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff; }
  .post .top h2 {
    background-color: white;
    margin-top: 0; }
  .post .body p {
    text-align: justify; }
  .post .bottom {
    font-size: .9em;
    display: flex;
    justify-content: space-between; }
    .post .bottom a {
      color: #08aef1;
      text-decoration-color: #08aef1; }

.login-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1; }
  .login-main .login-page {
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-main .login-page .login {
      width: 25%; }
