<form method="get" class="login">
    <div class="form-group">
        <h2>Вход</h2>
        <input type="name">
        <input type="password">
    </div>
    <div class="form-btn">
        <button type="submit" class="login-button">Вход</button>
    </div>
</form>