<form method="post" class="login">
    <div class="sign-in">
        <h2>Вход</h2>
        <div class="form-group">
            <label for="name">Логин</label>
            <input type="name" autocomplete="off" id="login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" autocomplite="false" id="pass" name="pass">
        </div>
        <div class="buttons">
            <button type="submit" autocomplete="off" id="btn-send" class="login-button">Войти</button>
        </div>
    </div>
</form>