<!DOCTYPE html>
<html lang="en-EN, ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<%= assetFingerprint('css/style.min.css') %>">
    <title>Furmanov37</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="date-time">
                <span id="week"></span>
                <span id="clock"></span>
            </div>
            <a href="/" class="logo"></a>
            <nav class="menu">
                <div class="menu-list">
                    <a class="menu-head" href="#">История</a>
                    <a class="menu-head" href="#">Посетители</a>
                    <a class="menu-head" href="#">Портал</a>
                    <a class="menu-head" href="#">Помощь</a>
                </div>

                <span id="svg-icon" class="icon-left-open"></span>

                <div id="menu-button" class="menu-head">Menu</div>


            </nav>
        </div>
    </header>