<div class="main-window">
    <div class="main-window-header">
        <span id="title-header">Список автомобилей на территории</span>
        <span class="now-date"></span>
    </div>
    <div class="main-window-body">
        <% include newCar.ejs %>
        <% include newCar.ejs %>
        <% include newCar.ejs %>
        <% include newCar.ejs %>
        <% include newCar.ejs %>
        <% include newCar.ejs %>
        <% include newCar.ejs %>
    </div>
</div>