<div class="email-message">

    <div class="mail-mes-title">
        <span>Sender</span>
        <br>
        <span><b>Date</b></span>
    </div>
    <div class="mail-mess-body">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit labore qui quibusdam nam
            soluta
            ipsum cumque ut impedit voluptates expedita!
        </p>
    </div>
</div>