<!-- Horisontal flex -->
<!-- <div class="car-on-ter">
	<div class="car-on-ter-head">
		<div class="car-date">
			<input type="text" placeholder="Въезд" />

			<input type="text" placeholder="Выезд" />
		</div>
		<div class="car-type">
			<input type="text" />
		</div>
		<div class="car-org">
			<input type="text" />
		</div>
		<div class="car-statuss">
			<input type="text" />
		</div>
		<div class="car-on-ter-driver-phone">
			<input type="text" placeholder="Номер телефона" />
		</div>
	</div>
	<div class="car-on-ter-body">
		<div class="car-on-ter-number">
			<input type="text" />
		</div>
		<div class="car-on-ter-marc">
			<input type="text" />
		</div>
		<div class="car-on-ter-driver-name">
			<input type="text" />
		</div>

		<div class="car-on-ter-driver-doc">
			<input type="text" />
		</div>
		<div class="car-on-ter-trailer-number">
			<input type="text" />
		</div>
	</div>
	<div class="car-on-ter-docs"></div>
</div> -->

<!-- Vertical flex -->
<div class="car-on-ter">
	<div class="first_col">
		<div class="car-date">
			<div>
				<label for="in-time">Въезд</label>
				<input type="text" name="in-time" placeholder="Въезд" />
			</div>
			<div>
				<label for="out-time">Выезд</label>
				<input type="text" name="out-time" placeholder="Выезд" />
			</div>
		</div>
		<div class="car-on-ter-number">
			<input type="text" placeholder="Номер машины" />
		</div>
	</div>

	<div class="second_col">
		<div class="car-type">
			<input type="text" placeholder="Приход / Отгруз" />
		</div>
		<div class="car-on-ter-marc">
			<input type="text" placeholder="Марка машины" />
		</div>
	</div>

	<div class="fird_col">
		<div class="car-org">
			<input type="text" placeholder="Организация" />
		</div>
		<div class="car-on-ter-driver-name">
			<input type="text" placeholder="Водитель" />
		</div>
	</div>

	<div class="fourth_col">
		<div class="car-statuss">
			<input type="text" placeholder="Статус отгрузки" />
		</div>
		<div class="car-on-ter-driver-doc">
			<input type="text" placeholder="Паспорт / ВУ" />
		</div>
	</div>

	<div class="fiveth_col">
		<div class="car-on-ter-driver-phone">
			<input type="text" placeholder="Номер телефона" />
		</div>
		<div class="car-on-ter-trailer-number">
			<input type="text" placeholder="Номер прицепа" />
		</div>
	</div>
</div>
