<!-- Horisontal flex -->
<!-- <div class="car-on-ter">
	<div class="car-on-ter-head">
		<div class="car-date">
			<input type="text" placeholder="Въезд" />

			<input type="text" placeholder="Выезд" />
		</div>
		<div class="car-type">
			<input type="text" />
		</div>
		<div class="car-org">
			<input type="text" />
		</div>
		<div class="car-statuss">
			<input type="text" />
		</div>
		<div class="car-on-ter-driver-phone">
			<input type="text" placeholder="Номер телефона" />
		</div>
	</div>
	<div class="car-on-ter-body">
		<div class="car-on-ter-number">
			<input type="text" />
		</div>
		<div class="car-on-ter-marc">
			<input type="text" />
		</div>
		<div class="car-on-ter-driver-name">
			<input type="text" />
		</div>

		<div class="car-on-ter-driver-doc">
			<input type="text" />
		</div>
		<div class="car-on-ter-trailer-number">
			<input type="text" />
		</div>
	</div>
	<div class="car-on-ter-docs"></div>
</div> -->

<!-- Vertical flex -->
<form>
	<div class="car-on-ter-wraper">
		<div class="prop-info">
			<span id="num__tick">
				Пропуск № 234
			</span>
		</div>
		<div class="car-on-ter">
			<div class="first_col">
				<div class="car-date">
					<div>
						<label for="in-time">Въезд</label>
						<input type="text" name="in-time" placeholder="Въезд" />
					</div>
					<div>
						<label for="in-time">Выезд</label>
						<input type="text" placeholder="Выезд" />
					</div>
				</div>
				<div class="car-on-ter-number margin_top7">
					<label for="car-number">Номер машины</label>
					<input type="text" placeholder="Номер машины" />
				</div>
			</div>

			<div class="second_col">
				<div class="car-type">
					<label for="status">Приход / Отгруз</label>
					<input type="text" name="status" placeholder="Приход / Отгруз" />
				</div>
				<div class="car-on-ter-marc margin_top7">
					<label for="car-marc">Марка машины</label>
					<input type="text" name="car-marc" placeholder="Марка машины" />
				</div>
			</div>

			<div class="fird_col">
				<div class="car-org">
					<label for="organisation">Организация</label>
					<input type="text" name="organisation" placeholder="Организация" />
				</div>
				<div class="car-on-ter-driver-name margin_top7">
					<label for="driver-name">Ф.И.О водителя</label>
					<input type="text" name="driver-name" placeholder="Водитель" />
				</div>
			</div>

			<div class="fourth_col">
				<div class="car-statuss">
					<label for="status-quit">Статус авто</label>
					<input type="text" name="status-quit" placeholder="Статус авто" />
				</div>
				<div class="car-on-ter-driver-doc margin_top7">
					<label for="driver-doc">Паспорт / ВУ</label>
					<input type="text" name="driver-doc" placeholder="Паспорт / ВУ" />
				</div>
			</div>

			<div class="fiveth_col">
				<div class="car-on-ter-driver-phone">
					<label for="driver-phone">Номер телефона</label>
					<input type="text" name="driver-phone" placeholder="Номер телефона" />
				</div>
				<div class="car-on-ter-trailer-number margin_top7">
					<label for="truck-num">Номер прицепа</label>
					<input type="text" name="truck-num" placeholder="Номер прицепа" />
				</div>
			</div>
		</div>
		<div class="btns_docs">
			<div class="btn_blocks" id="append_docs">Добавить накладные</div>
			<div class="btn_blocks" id="outgoing">Выезд</div>
		</div>
	</div>
</form>