<div class="car-on-ter">
                <div class="car-on-ter-head">
                    <div class="car-on-date">
                        Въезд
                    </div>
                    <div class="car-out-date">
                        Выезд
                    </div>
                    <div class="car-type">
                        Отгрузка/Приход
                    </div>
                    <div class="car-org">
                        Организация
                    </div>
                    <div class="car-statuss">
                        true
                    </div>

                </div>
                <div class="car-on-ter-body">
                    <div class="car-on-ter-number">
                        Номер машины
                    </div>
                    <div class="car-on-ter-marc">
                        Марка
                    </div>
                    <div class="car-on-ter-driver-name">
                        Фамилия
                    </div>
                    <div class="car-on-ter-driver-phone">
                        Телефон
                    </div>
                    <div class="car-on-ter-driver-doc">
                        Паспорт
                    </div>
                    <div class="car-on-ter-trailer-number">
                        Прицеп
                    </div>
                </div>
                <div class="car-on-ter-docs">

                </div>
            </div>