<div class="wraper">


	<% include mainWindow.ejs %>

	<div class="email-window">
		<% include message.ejs %>
		<!-- <% include message.ejs %>
        <% include message.ejs %>
        <% include message.ejs %>
        <% include message.ejs %> -->
	</div>
</div>