<div class="post">
    <div class="top">
        <h2>Заголовок поста</h2>
    </div>
    <div class="body">
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вопрос там щеке осталось
            рекламных рыбными назад наш все рыбного оксмокс однажды, выйти встретил мир эта приставка. Продолжил родного
            реторический скатился рот рукописи? Оксмокс обеспечивает, знаках курсивных дал образ речью имени букв жизни,
            заглавных подпоясал страну своих рекламных жаренные сих предупредила. Текстов бросил однажды текста силуэт
            алфавит они переписали рукопись!</p>
    </div>
    <div class="bottom">
        <div class="author">
            Автор:<a href="/">Гелентовский</a>
        </div>
        <a href="/">Коментарий</a>
    </div>
</div>